<div class="container">
    <div class="form mb-2 mt-2">
    <fieldset>
        <form action="/hashtag" method="post">
            <div class="input-group">
            <input class="form-control" name="hashtag" placeholder="eg. #corgi" required type="text">
            <input type="submit" value="Search">
            </div>
        </form>
    </fieldset>
</div>

{{#if hashtag}}
  <h3>All popular tweets for {{hashtag}}</h3>
{{/if}}


{{#if twitterData}}

  <div id="tweets">helloooooooooo</div>

  <script>
    let twitterData = JSON.stringify(twitterData);
    let tweetHTML = '<div class="row">';
    for (let index = 0; index < twitterData.statuses.length; index++) {
        var createdDateTime = new Date(twitterData.statuses[index].created_at).toUTCString();

        tweetHTML += twitterData.statuses[index].user.screen_name
    }

    var tweetsContainer = document.getElementById('tweets');
    tweetsContainer.insertAdjacentHTML('beforeend', tweetHTML);

  </script>

{{/if}}
